/* write your custom styles here */
.container {
    width: 100%;
    max-width: 100%;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    max-height: 1200px;
    max-width: 100%;
}

.header {
    position: sticky;
    top:0;
}

.table-sticky-header {
    data-sticky-header: true; 
}